<form id="pdf-sheet-form">

    <input id="pdf-upload" type="file" name="upload" accept="application/pdf" />

    <ul id="fieldList"></ul>

    <button id="pdf-download" disabled="disabled">Fill and download PDF</button>

</form>