<form id="pdf-sheet-form">

    <header id="pdf-header">
        <input id="pdf-upload" type="file" name="upload" accept="application/pdf" />
        {{#if download.show}}
        <button id="pdf-download" title="{{download.title}}" onclick="window.open('{{download.url}}', '_blank')">
            <i class="fas fa-download"></i> {{download.label}}
        </button>
        {{/if}}
    </header>

    <ul id="fieldList"></ul>

    <button id="pdf-export">
        <i class="fas fa-print"></i>
    </button>

</form>
