<form id="pdf-sheet-form">

    <header id="pdf-header">
        <input id="pdf-upload" type="file" name="upload" accept="application/pdf" />
        <button id="pdf-official" title="{{localize "pdfsheet.download.Hint"}}"
            onclick="window.open('https://media.wizards.com/2016/dnd/downloads/5E_CharacterSheet_Fillable.pdf', '_blank')">
            <i class="fas fa-download"></i> {{localize "pdfsheet.download.Name"}}
        </button>
    </header>

    <ul id="fieldList"></ul>

    <button id="pdf-download">
        <i class="fas fa-print"></i>
    </button>

</form>